select {
  padding: 3px;
  margin: 0.4rem;
  font-size: 1.2rem;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 1.2em;
}

td,
th {
  border: 1px solid black;
  padding: 0.5em;
}

main {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding-bottom: 10rem;
}

p {
  max-width: 40em;
  margin-inline: 1em;
}

h1 {
  margin-top: 50px;
}

.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 350px;
  max-width: 95dvw;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  font-weight: 400;
  color: white;
  background-color: black;
  height: 8rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter {
  display: flex;
}
